body{
    font-family: 'Roboto', sans-serif;
    margin: 0;;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937 ;
    padding:20px 250px;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

a{
    text-decoration: none;
     color: #e5e7eb; 
     font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

/*footer style*/

.footer{
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937 ;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Body style*/

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

  /*About section */
.about{
    display: flex;
    padding: 100px 250px;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    gap: 75px;
    /* max-height: 250px; */
    /* flex-wrap: wrap-reverse; */
}

.about-image >img{  
    height: 300px;
    width: 500px; 
}

#site-heading{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

#site-desc{
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-btn{
    background-color: #3883f6;
    padding: 10px 30px;
    color: white;
    border-radius: 8px;
    border: none;
}


/* Information cards */

.info-head{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    columns: #1f2937;
    margin: 40px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    width: 250px;
    align-items: center;    
}

.info-img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid #3883f6;   
}

.info-desc{
    
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

/*Quote styles */

.main-quote{
background-color: #e5e7eb;
padding: 75px 400px;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-by{
    text-align: end;
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
    margin-right: 75px;
}


/* Signup styles */

.signup-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3883f6;
    margin: 100px 300px;
    border-radius: 8px;
    padding: 40px;
}

.btn-signup{
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    background-color: #3883f6;
    color: #f9faf8;
    border: 3px solid #e5e7eb;
    border-radius: 8px;
}

.action{
    font-weight: 900;
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

.action-small{
    color: #e5e7eb;
    margin: 0;
}




